<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-8">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, class: 'form-control' %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.label :new_password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder:  @minimum_password_length.to_s + "  characters minimum" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'New password confirmation' %>
          </div>

          <% if logged_in? :site_admin %>
            <div class="form-group">
              <%= f.label :brief_introduction %>
              <%= f.text_area :brief_about, class: 'form-control', rows: 8,  placeholder: '(30 ~ 100 words)' %>
            </div>

            <div class="form-group">
              <%= f.label :introduction %>
              <%= f.text_area :about, class: 'form-control', rows: 15, placeholder: '(50 ~ 300 words)' %>
            </div>
<hr>
            <h2>Skills</h2>
            <div class="form-group">
              <%= f.fields_for :skills do |skill_form| %>
                <%= render 'skill_fields', f: skill_form %>
              <% end %>

              <div>
                <%= link_to_add_association 'Add Skill', f, :skills, class: 'btn btn-info' %>
              </div>
            </div>
<hr>
            <h2>Watches</h2>
            <div class="form-group">
              <%= f.fields_for :watches do |watch_form| %>
                <%= render 'watch_fields', f: watch_form %>
              <% end %>

              <div>
                <%= link_to_add_association 'Add Watch', f, :watches, class: 'btn btn-info' %>
              </div>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :current_password %>
            <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Keyin current password to confirm your changes' %>
          </div>

          <div class="form-group">
            <%= f.submit "Update", class: 'btn btn-primary btn-block' %>
          </div>
        <% end %>
      </div>

      <div class="col-md-4">
        <h3>Cancel my account</h3>

        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
      </div>
    </div>

    <div class="auth-links">
      <%= link_to "Back", :back %>
    </div>

  </div>
</div>
