<div class="col-sm-8 blog-main">

  <h1>
    <span id='topic-like'>
      <%= render "like" %>
    </span>
    <%= @topic.title %>
    <% if logged_in? :site_admin %>
      <%= link_to fa_icon('pencil-square-o'), edit_topic_path(@topic) %>
      <%= link_to fa_icon('trash'), @topic, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </h1>
  <div class="topic-body">
    <h5><%= @topic.body %></h5>
  </div>

  <%= paginate @blogs %>

  <%= render @blogs %>

  <%= paginate @blogs %>

</div>
