<div class="col-sm-8 blog-main">

  <h1>
    <span id='topic-like'>
      <%= render "like" %>
    </span>
    <%= @topic.title %>
  </h1>
  <div class="topic-body">
    <h5><%= @topic.body %></h5>
  </div>

  <%= paginate @blogs %>

  <%= render @blogs %>

  <%= paginate @blogs %>

</div>
