<div class="col-sm-8 blog-main">

  <h1><span id='topic-like'>
      <%= link_to fa_icon('rss'), like_topic_path(@topic), method: :post, remote: true %>
    </span>
    <%= @topic.title %>
  </h1>

  <%= paginate @topic_blogs %>

  <%= render @topic_blogs %>

  <%= paginate @topic_blogs %>

</div>
