<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <h6><%= @brief_about %></h6>
  </div>

  <%= source_helper("alert alert-info blog-sidebar-source") %>

  <div class="sidebar-module">
    <h4>New Arrivals</h4>
    <% @side_bar_topics.each do |topic| %>
      <%= subscribed_helper current_user, topic %>
      <ul>
        <% topic.blogs.not_draft.recent.limit(3).each do |blog| %>
        <li><%= link_to blog.title, blog %>
        <p>Published: <%= distance_of_time_in_words(blog.created_at, Time.now) %></p>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/A-hu" target='_blank'><%= fa_icon "github" %></a></li>
      <li><a href="https://www.linkedin.com/in/louis-j-tseng-78745b134/" target='_blank'><%= fa_icon "linkedin" %></a></li>
      <li><a href="https://twitter.com/louis0911317399" target='_blank'><%= fa_icon "twitter" %></a></li>
    </ol>
  </div>
</div>
