<div class="app-card-container">
  <div class="card">
    <h1>About</h1>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "diving.jpg", width: 300, alt: 'diving', class: 'profile-img' %>

        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning"
                     role="progressbar"
                     aria-valuenow="<%= skill.percent_utilized %>"
                     aria-valuemax="100"
                     style="width: <%= skill.percent_utilized %>%"
                     ></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8 about-content">

        <p><%= @about %></p>
        <div class="container">
        <button
           class="btn btn-info"
           type="button"
           data-toggle="collapse"
           data-target="#jobHistory"
           aria-expanded="false"
           aria-controler="jobHistory"
           >
           <%= fa_icon('history') %>
        </button>
        <div class="collapse" id="jobHistory">
          <div class="card card-block">
            Diabnext
            <strong>System Engineer</strong>
            <em>Dec. 2016 ~ present</em>
          </div>
          <div class="card card-block">
            Puzi Hospital
            <strong>Hospital Pharmacist</strong>
            <em>Sep. 2015 ~ Aug. 2016</em>
          </div>
          <div class="card card-block">
            Etone Medicine Union
            <strong>Registered Pharmacist</strong>
            <em>Dec. 2012 ~ Jul. 2015</em>
          </div>
        </div>

        <button
               class="btn btn-info"
               type="button"
               data-toggle="collapse"
               data-target="#cert"
               aria-expanded="false"
               aria-controler="cert"
               >
               <%= fa_icon('certificate') %>
        </button>
          <div class="collapse" id="cert">
            <div class="card card-block">
              <strong>Pharmacist certificate</strong>
              <em>Dec. 2012</em>
            </div>
          </div>

          <button
                 class="btn btn-info"
                 type="button"
                 data-toggle="collapse"
                 data-target="#education"
                 aria-expanded="false"
                 aria-controler="education"
                 >
                 <%= fa_icon('graduation-cap') %>
          </button>
          <div class="collapse" id="education">
            <div class="card card-block">
              National Chiao Tung University
              <strong>Master, Bioinformatics and Systems Biology</strong>
              <em>2011 ~ 2015</em>
            </div>
            <div class="card card-block">
              China Medical University
              <strong>Bachelor, School of Pharmacy</strong>
              <em>2006 ~ 2011</em>
            </div>
          </div>

          <button
                 class="btn btn-primary"
                 type="button"
                 data-toggle="collapse"
                 data-target="#contact"
                 aria-expanded="false"
                 aria-controler="contact"
                 >
                 <%= fa_icon('drivers-license') %>
          </button>
            <div class="collapse" id="contact">
              <div class="card card-block">
                <a href="mailto:learnhu.com@gmail.com" target='_blank'><%= fa_icon "envelope-o" %></a>
                <a href="https://github.com/A-hu" target='_blank'><%= fa_icon "github" %></a>
                <a href="https://www.linkedin.com/in/louis-j-tseng-78745b134/" target='_blank'><%= fa_icon "linkedin" %></a>
                <a href="https://twitter.com/louis0911317399" target='_blank'><%= fa_icon "twitter" %></a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
