<div class="login">
  <div class="card">
    <div class="card-block">
      <h2>Log in 登入</h2>

      <div class="col-md-12">
        <%= link_to fa_icon('facebook') + "acebook Login", user_facebook_omniauth_authorize_path, class: 'btn fb-btn' %>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email 信箱' %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password 密碼' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
        <div class="form-group">
          <%= f.submit "Log in", class: 'btn btn-primary' %>
        </div>
        <div class="col-md-12">
          <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: 'btn btn-primary' %>
        </div>

      <% end %>
      <div class="auth-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
